html,body{
    margin: 0;
    padding: 0;
    height: 100%;
}

.navbar{
    width:100%;
    height: auto;
    position: fixed;
    top: 0;
    text-align: left;
    background-color: aquamarine;
    color: white;
    padding: 10px 0;
}

#togglebutton{
    margin-left: 10px;
    padding: 10px;
    cursor: pointer;
}

.leftmenu.hidden{
    transform: translateX(-100%);
}

.container{
    display: flex;
    margin-top: 15px;
}

.leftmenu{
    transition: transform 1s ease;
}

.leftmenu, .righttmenu{
    width: 15%;
    background-color: aliceblue;
    padding: 10px;
}

.main{
    width: 70%;
    padding: 10px;
}


.footer{
    position: fixed;
    bottom: 0;
    width:100%;
    height: auto;
    text-align: center;
    background-color: aquamarine;
    color: white;
    padding: 10px 0;
}